APOLLO_DATABASE_URL=sqlite+aiosqlite:///./apollo_gateway.db
APOLLO_SPDK_SOCKET_PATH=/var/tmp/spdk.sock
APOLLO_ISCSI_PORTAL_IP=0.0.0.0
APOLLO_ISCSI_PORTAL_PORT=3260
APOLLO_NVMEF_PORTAL_IP=0.0.0.0
APOLLO_NVMEF_PORTAL_PORT=4420
APOLLO_IQN_PREFIX=iqn.2026-02.lunacysystems.apollo
APOLLO_NQN_PREFIX=nqn.2026-02.io.lunacysystems:apollo
