STRIX_DATABASE_URL=sqlite+aiosqlite:///./strix_gateway.db
STRIX_SPDK_SOCKET_PATH=/var/tmp/spdk.sock
STRIX_ISCSI_PORTAL_IP=0.0.0.0
STRIX_ISCSI_PORTAL_PORT=3260
STRIX_NVMEF_PORTAL_IP=0.0.0.0
STRIX_NVMEF_PORTAL_PORT=4420
STRIX_IQN_PREFIX=iqn.2026-02.lunacysystems.strix
STRIX_NQN_PREFIX=nqn.2026-02.io.lunacysystems:strix
